:root{
    --dark-grey:#34495e; 
    --white: #fff;
}
.nav{
   background-color: var(--dark-grey);
   display: flex;
   padding: 0.5rem 1rem;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}

.nav__icon{
    font-size: 2.4rem;
    align-self: center;
    color: var(--white);
}

.ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav__link{
    color: var(--white);
}


