:root{
    --primary-green: #2ecc71;
}   

.main{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    line-height: 1.8;
}

.main__title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main__link{
    color: var(--primary-green);
}